.jumbotron {
  padding-top: 6rem;
  background-color: #E2edff;
}

#projects {
  padding-top: 2rem;
  background-color: #E2edff;
}

section{
  padding-top: 10rem;
}

#input-tombol{
  position: relative;
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #434343;
  
  border-radius: 10px;
  transition: .5s ease;
  cursor: pointer;
  
}
#input-tombol:checked{
  background-color: #3664ff;
}
#input-tombol::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: .5s ease;
}

#input-tombol:checked::before{
  transform: translateX(20px);
}

.dark {
  background-color: #333;
  color: #fcfcfc;
}
  